<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taemo.healfit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/healfit_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/healfit_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealFit">

        <activity android:name="com.taemo.healfit.CalendarActivity" />
        <activity android:name="com.taemo.healfit.ProgressActivity" />
        <activity android:name="com.taemo.healfit.RecordActivity" />
        <activity android:name="com.taemo.healfit.TimerActivity" />
        <activity android:name="com.taemo.healfit.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>